@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Fotheby's Auction House</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/uploads/img/logo.jpg" height="30px" alt="Logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">Items</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Dashboard" asp-controller="Account" class="nav-link text-dark">Dashboard</a>
                        </li>
                        @if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Admin")
                        {
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Account" class="nav-link text-dark">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Categories" class="nav-link text-dark">Category</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Classifications" class="nav-link text-dark">Classifications</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-action="Catalogue" asp-controller="Items" class="nav-link text-dark">Catalogue</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="AdHoc" asp-controller="Home" class="nav-link text-dark">Ad Hoc</a>
                        </li>
                    </ul>

                    <p class="pt-3 pr-3">
                        Hi, @User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value
                    </p>
                    <a asp-action="Logout" asp-controller="Account" class="btn btn-light ms-3">Logout</a>
                }
                else
                {
                    <div class="d-flex justify-content-end">
                        <a asp-action="Login" asp-controller="Account" class="btn btn-light ms-3">Login</a>
                        <a asp-action="Register" asp-controller="Account" class="btn btn-light ms-3">Register</a>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Fotheby's Auction House
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>