@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <script src="https://code.highcharts.com/highcharts.src.js"></script> *@
@* *@
@* *@
@* <div class="jumbotron"> *@
@*     <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> *@
@* </div> *@
@* *@
@* <script> *@
@* *@
@* *@
@*     $(document).ready(function () { *@
@*         $.getJSON("/Home/GetData", function (data) { *@
@* *@
@* *@
@* *@
@*             Highcharts.chart('container', { *@
@*                 chart: { *@
@*                     plotBackgroundColor: null, *@
@*                     plotBorderWidth: null, *@
@*                     plotShadow: false, *@
@*                     type: 'pie' *@
@*                 }, *@
@*                 title: { *@
@*                     text: 'Users Ratio' *@
@*                 }, *@
@*                 tooltip: { *@
@*                     pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>' *@
@*                 }, *@
@*                 plotOptions: { *@
@*                     pie: { *@
@*                         allowPointSelect: true, *@
@*                         cursor: 'pointer', *@
@*                         dataLabels: { *@
@*                             enabled: true, *@
@*                             format: '<b>{point.name}</b>: {point.percentage:.1f} %', *@
@*                             style: { *@
@*                                 color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black' *@
@*                             } *@
@*                         } *@
@*                     } *@
@*                 }, *@
@*                 series: [{ *@
@*                     name: 'Users', *@
@*                     colorByPoint: true, *@
@*                     data: [{ *@
@*                         name: 'Admin', *@
@*                         y: data.admin *@
@*                     }, { *@
@*                         name: 'Buyer/Seller', *@
@*                         y: data.client *@
@*                     }] *@
@*                 }] *@
@*             }); *@
@*         }); *@
@*     }); *@
@* *@
@* *@
@* </script> *@