@{
    ViewData["Title"] = "Ad Hoc Report Page";
}
<div id="printableData">
    <div class="align-content-center" style="width:600px; height: 600px;">
        <canvas id="myChart"></canvas>
        <h3 id="heading">The piechart representing user ratio</h3>
    </div>

    <canvas id="lineChart" style="height: 600px; width:750px"></canvas>
</div>
<input type="button" class="btn btn-success" value="Print" onclick="printPartOfPage();"/>  
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
        $(function(){
           
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
             labels: ["Admin","Buyer/Seller"],
                datasets: [{
                    
                    backgroundColor:[ "#2ecc71","#3498db" ],
                  
                    data: [@ViewData["Admin"],@ViewData["Client"]]
                }]
            }
        });});
    </script>
    <script type="text/javascript">
        $(function () {
            var labels = '@TempData["nameOfIndexes"]';
            var datas = '@TempData["values"]';
            var labelsArray = new Array();
            var dataArray = new Array();
            for (var i = 0; i < labels.split(',').length; i++) {
                labelsArray.push(labels.split(',')[i]);
                dataArray.push(datas.split(',')[i]);
             
                
            }
            var ctx1 = document.getElementById("lineChart").getContext('2d');
            var lineChart = new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: labelsArray,
                    datasets: [{
                       
                        backgroundColor: '#3EB9DC',
                        data: dataArray
                    }]
                },
                options: {
                        legend: {display: false},
                      scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    max:20,
                                     stepSize: 1
                                }
                            }]
                        },
                    title: {
                         display: true,
                         text: "Items in the system"
                       }
                    
                }
            });
        });
    </script>
    <script type="text/javascript">  

    function printPartOfPage() {  
        var heading = document.getElementById("heading");
  var canvas = document.getElementById("myChart");
                var img= canvas.toDataURL("image/png");
                var canvas2 = document.getElementById("lineChart");
                        var img2= canvas2.toDataURL("image/png");
var newWin=window.open('','Print-Window','width=400,height=400,top=100,left=100');
newWin.document.open();
newWin.document.write('<html><body   onload="window.print()"><img src="'+img+'" alt=""/><br>'+heading.innerHTML+'<br><br><img src="'+img2+'" alt=""/></body></html>');
newWin.document.close();
setTimeout(function(){newWin.close();},10);
             
        
        }
 
    </script>
}
