@model SEIIIAssignment.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Login to the system</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    
                    <form asp-action="Login" class="login-form">
                        <div class="form-group">
                            <input asp-for="UserName" type="text" class="form-control rounded-left" placeholder="Username" required>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex">
                            <input asp-for="Password" type="password" class="form-control rounded-left" placeholder="Password" required>
                              <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Login" class="form-control btn btn-success rounded submit px-3">Login</button>
                        </div>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}