@model IEnumerable<SEIIIAssignment.Models.Classification>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-light">Create New Classifications</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassificationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassificationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassificationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassificationId">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
